
html{
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
}
.background{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: grey;
	opacity:0.8;
}
.loginbox{
	position: fixed;
	width: 40%;
	height:50%;
	min-height: 300px;
	min-width: 500px;
	border-radius: 15px;
	left:50%;
	top:50%;
	background-color: white;
	-webkit-transform:translate(-50%,-50%);
	   -moz-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	     -o-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);


}
.out{
	top:-100%; 
}
@keyframes flyin{
	from {top:-100%;}
	to {top:40%;}
}
.in{
	animation:flyin 1s ease-out 1;
	top: 40%;
}
.cancel_icon{
	position: absolute;
	right:20px;
	top:20px;
	cursor:pointer;
	font-size: 20px;
}
.login_ul{
	margin: 0;
    padding: 0;
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	   -moz-transform:translate(-50%,-50%);
	    -ms-transform:translate(-50%,-50%);
	     -o-transform:translate(-50%,-50%);
	        transform:translate(-50%,-50%);
}
.login_item{
   
   min-width: 550px;
   list-style: none;
   height:150px;
   font-size: 25px;

}
.login_item input{
	display: inline-block;
	min-width:400px;
	min-height:40px;
	font-size: 20px;
	border-radius: 5px;
	border: inset 1px;
	vertical-align: middle;


}
.login_item_tip{
   font-size: 15px;
   color: grey;
}
.icon_button.blue{
	
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0044cc));
	
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	color: #ffffff;
}
.icon_button.blue:hover{
	background-image: -webkit-linear-gradient(top, #0044cc, #0044cc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0044cc), to(#0044cc));
	background-image: -moz-linear-gradient(top, #0044cc, #0044cc);
	background-image: -o-linear-gradient(top, #0044cc, #0044cc);
	background-image: linear-gradient(to bottom, #0044cc, #0044cc);
}

.icon_button.red{

	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);

	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));

	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);

	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);

	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	color: #ffffff;
}
.icon_button.red:hover{
	background-image: -webkit-linear-gradient(top, #bd362f, #bd362f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bd362f), to(#bd362f));
	background-image: -moz-linear-gradient(top, #bd362f, #bd362f);
	background-image: -o-linear-gradient(top, #bd362f, #bd362f);
	background-image: linear-gradient(to bottom, #bd362f, #bd362f);
}
.icon_button{
	font-weight: 600;
 	border:1px solid #bbbbbb;
	padding: 4px 18px;
	margin: 0 5px 0 0;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	text-shadow: 0 5px 5px rgba(152, 150, 150, 0.75);
	background-color: #f5f5f5;


}
.icon_button.detached{
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0088cc), to(#0044cc));
	
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	color: #ffffff;
}

.icon_button:disabled{
	
	cursor: not-allowed;
	
}
.left{
	float: left;
}
.right{
	float: right;
}
#submit_icon_area{
	position: absolute;
	bottom: 15px;
	right: 15px;

}
.icon_button:hover{
	background-color: #ECE9E9;	 	
}
.add-on{
	display: inline-block;
	width: auto;
    height: 30px;
    min-width: 16px;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-right: -10px;
    vertical-align: middle;
    box-sizing:content-box;
}
.left_nav{
	width: 300px;
	height:100%;
	position: fixed;
	padding-top: 50px;
	left:0;
	top:0;
	background-color: rgba(27,23,23,0.94); 
	overflow: auto;
	color: white;
}
.nav_bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 300px;
    height: 100px;
	background-color:rgba(8,8,10,0.32); 
}
.head_img{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: url("../img/head_1.jpeg") no-repeat center;
	background-size: contain;
	vertical-align: middle;
}
.nav_bottom:before{
	display: inline-block;
	content: "";
	height:100%;
	width: 30px;
	vertical-align: middle;
}
#user_info{
	display: inline-block;
	width: 100px;
	height: 80px;
	line-height:80px;
	vertical-align: middle;
	padding-top: 20px;
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
}
#addChannel_icon{
	display: inline-block;
	vertical-align: middle;
}
#info_name{
	font-size: 20px;
	line-height: 20px;
	height:20px;
	font-weight: 600;
}
#info_status{
   font-size: 15px;
   height: 20px;
   line-height: 20px;
}
.box_body{
	position: fixed;  
    top: 0;
    left: 300px;
    width: 100%;
    height: 100%;
    padding-right: 300px;
    overflow: hidden;


}
#editor{
	min-width:300px;
	width: 80%;
	display: inline-block;
	vertical-align: middle;
}
#msg_container{
	height: 70%;
    /* width: 100%; */
    width: 100%;
    padding: 15px 40px;
    overflow: auto;
}
#msg_container ul{
	padding:10px 50px;
}
#editor_container{
	position: fixed;
	width: 100%;
    left:320px;
	bottom: 5px;
	padding-top: 20px;
	border-top: thin solid grey;
	padding-right: 300px;

}
#submit_icon{
	display: inline-block;
	vertical-align: middle;
	height:150px;
	width: 150px;
	line-height: 150px;
	font-size: 30px;
	font-weight: 700;
}
.msg{
	list-style: none;
	width: 100%;
	padding: 15px 100px;
	position: relative;
}
.msg_username{
	margin:5px 10px 0 10px;
	height:20px;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;

}
.msg_time{
	color: grey;
	font-size: 17px;
	line-height: 21px;
	margin-top: 5px;

}

.msg_content{
	
	
	width: 50%;
}
.msg_content img{
	height:150px;
	width:150px;
	border-radius: 10px;
	vertical-align: baseline;
}
.msg_img{
	height:50px;
	width: 50px;
	border: thin solid grey;
	border-radius: 5px;
	background-size: contain;
}
.clear{
	clear:both;
	zoom:1;
}
._right{
	float: right;
	text-align: right;
	padding-right: 110px;

}
._left{
	float: left;
	text-align: left;
	padding-left: 110px;

}
@keyframes  myrotate{
	0 {transform:rotate(0deg);}

	100% {transform:rotate(90deg);}
}
#addChannel_icon:hover{
	animation:myrotate 0.1s linear 1;
}
#head_ul{
	height: 250px;
	width:450px;
	overflow: auto;
}
.head_item{
	height: 80px;
	width: 80px;
	background-size: contain;
	border: thin solid grey;
	cursor: pointer;
	border-radius: 2px;

}
.head_item:hover{
	border: 3px solid #66afe9 ;
}